#email {
  box-sizing: border-box;
  padding: 50px;
  margin: 50px auto;
  width: 500px;
  border: 2px solid black;
  background-color: antiquewhite;
  box-shadow: 5px 3px 3px gray;
}

#confidential,
#top-secret {
  display: inline-block;
  text-align: center;
  padding: 10px;
  color: red;
  font-weight: bold;
  border: 5px solid red;
}

#confidential {
  margin-left: 100px;
  font-size: 30px;
  transform: rotate(-20deg);
}

#top-secret {
  margin-left: 200px;
  border: 5px solid red;
  font-size: 25px;
  transform: rotate(15deg);
}

.blurred {
  filter: blur(3px);
}
