/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
} */

/* Як створити гнучкі сітки за допомогою одиниці fr? */

/* html,
body {
  width: 100%;
  height: 100%;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 15px;
  background-color: darkgray;
  height: 100%;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  background-color: darkgray;
  height: 100%;
}

.col {
  background-color: darkslateblue;
} */

/* Як можна створити проміжки між доріжками в сітці? */

/* .grid-container {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.grid-container div {
  background-color: darkblue;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 50px;
}

.grid-container div {
  height: 100px;
  background-color: darkblue;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 10px;
}

.grid-container div {
  height: 100px;
  background-color: darkblue;
} */

/* Як можна повторювати списки треків у сітці? */

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.grid-container div {
  height: 100px;
  background-color: darkblue;
} */

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr 1fr);
  column-gap: 10px;
}

.grid-container div {
  height: 100px;
  background-color: darkblue;
} */

/* Яка різниця між неявною та явною сіткою? */

/* .grid-container {
  display: grid;
  grid-template-columns: 100px 100px; Only 2 explicit columns
  
}

.grid-item {
  background-color: burlywood;
  border: 1px solid orangered;
  padding: 0.5rem;
  margin: 0.5rem;
} */

/* Що таке функція minmax() і як вона працює? */

/* .grid-container {
  display: grid;
  grid-template-columns: minmax(150px, 300px) 1fr;
  gap: 20px;
}

.grid-container > div {
  background: crimson;
  padding: 20px;
  text-align: center;
} */

/* Як працюють властивості grid-column та grid-row? */

/* .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 100px); 
  gap: 10px;
}

.grid > div {
  display: grid;
  place-items: center;
  background: crimson;
  color: white;
  font-size: 4rem;
} */

/* .item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
} */

/* .item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
} */

/* .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 100px); 
  gap: 10px;
}

.grid > div {
  display: grid;
  place-items: center;
  background: crimson;
  color: white;
  font-size: 4rem;
}

.item1 {
  grid-column: 1 / span 2;
}

.item4 {
  grid-column: 1 / span 3;
}

.item6 {
  grid-column: 1 / span 2;
}

.item7 {
  grid-column: 3 / span 2;
} */

/* Як можна розташувати елементи на сітці за допомогою властивості grid-template-areas? */

.grid-container {
  display: grid;

  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar"
    "footer footer footer";
}

.header {
  place-items: center;
  grid-area: header;
}

.sidebar-left {
  place-items: center;
  grid-area: left-sidebar;
}

.main {
  place-items: center;
  grid-area: main;
}

.sidebar-right {
  place-items: center;
  grid-area: right-sidebar;
}

.footer {
  place-items: center;
  grid-area: footer;
}
