body {
  background-color: aquamarine;
}

#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 70px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

.card {
  display: flex;
  width: 170px;
  height: 250px;
  border: 1px solid black;
  border-radius: 7px;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

#playing-cards::after {
  content: "";
  width: 170px;
  height: 250px;
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.middle div {
  font-size: 50px;
}

.flipped {
  transform: rotate(180deg);
}

.red {
  color: red;
}
