* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html,
body {
  background-color: #eee;
}

.page-wrapper {
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: #eee;
  z-index: 1;
}

#header-img {
  height: 4rem;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-right: 1.2rem;
}

#hero {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  text-align: center;
  height: 200px;
}

@media (max-width: 600px) {
  #nav-bar {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    font-size: 1rem;
  }

  header {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    /* height: 200px; */
    align-items: center;
    justify-content: center;
    background-color: #eee;
    z-index: 1;
  }

  #header-img {
    width: 15rem;
    height: 5rem;
  }

  #hero {
    margin-top: 130px;
  }
}

#hero form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#hero #email {
  width: 200px;
  height: 20px;
  text-align: left;
  font-size: 10px;
}

#hero #submit {
  padding: 3px 15px;
  font-weight: bold;
  border: none;
  background-color: #f1c40f;
  cursor: pointer;
  transition: ease 0.5s;
}

#hero #submit:hover {
  background-color: orange;
}

#hero h2 {
  margin-bottom: 1rem;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
  width: 100%;
}
.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 80%;
  height: 125px;
}

#features .icon {
  display: flex;
  width: 20%;
  height: 125px;
  align-items: center;
  justify-content: center;
}

#how-it-works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#video {
  width: 500px;
  height: 300px;
}

#pricing {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  width: calc(100% / 3);
}

.product ol {
  list-style: none;
  margin: 15px 0;
}
.product li {
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.product-header {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  background-color: #dddddd;
}

.product > h2 {
  margin-top: 15px;
}

.product-btn {
  padding: 10px 20px;
  border: none;
  background-color: #f1c40f;
  cursor: pointer;
  transition: ease 0.5s;
  margin: 15px 0;
}

.product-btn:hover {
  background-color: orange;
}

footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  background-color: #dddddd;
  padding: 15px;
}

footer ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

footer li {
  padding: 10px;
}

footer p {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #444;
}
/* @media (max-width: 600px) {
  #nav-bar {
    flex-direction: column;
    position: static;
  }
} */
