* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: auto;
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: darkblue;
}
a:visited {
  color: blueviolet;
}
a:hover {
  color: red;
}
a:focus {
  border: 3px solid green;
}
a:active {
  color: darkorange;
}
.todo-list {
  margin: auto;
  border-radius: 10px;
  min-width: 300px;
  width: 50%;
  height: 500px;
  background-color: white;
  list-style: none;
  padding: 20px;
  margin-top: 20px;
}

.sub-item {
  list-style: square;
  padding: 10px;
  margin-left: 25px;
}

.list-items {
  background-color: lightblue;
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
.sub-item-link {
  margin-left: 25px;
}
