/* .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 200px;
  height: 200px;
  background-color: black;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

/* .flex-container {
  display: flex;
  gap: 10px;
  background: lightblue;
  padding: 10px;
}
.flex-container div {
  flex: 1;
  background: steelblue;
  color: white;
  text-align: center;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  background: lightgreen;
  padding: 10px;
}
.grid-container div {
  background: seagreen;
  color: white;
  text-align: center;
  padding: 20px;
}
.grid-container div:nth-child(1) {
  grid-column: 1 / 3; /* Header на всю ширину */
/* } */
/* .grid-container div:nth-child(4) {
  grid-column: 1 / 3; Footer на всю ширину
} */

body {
  font-size: 16px;
}
.container {
  width: 100%;
  padding: 10px;
}

/* Планшети */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
  .container {
    width: 750px;
    margin: 0 auto;
  }
}

/* ПК */
@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
