main {
  margin: 20px auto;
  width: 400px;
  height: 300px;

  display: flex;
  border: 2px solid red;
  /* flex-wrap: wrap; */
  padding: 10px;
  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  /* align-items: center; */
  align-self: center;
}

div {
  /* margin: 5px; */
  width: 80px;
  height: 50px;
  background-color: red;
}

#first-div {
  background-color: #4d70b2;
  align-self: center;
}

#second-div {
  background-color: #5c4db2;
  align-self: flex-end;
}

#third-div {
  background-color: #4da3b2;
}
