:root {
  --color0: #ffffff;
  --color1: #cdfdcd;
  --color2: #9cfc9c;
  --color3: #51fa51;
  --color4: #05c705;
  --color5: #047d04;
  --solid-border: 1px solid black;
  --dashed-border: dashed;
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #acd2bf;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 50px;
  margin: auto;
}

td {
  border: 1px solid black;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

.sharp td {
  border-bottom: var(--solid-border);
}

.half td {
  border-bottom: var(--dashed-border);
}

#legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3.5rem;
  width: 18rem;
}

#legend span {
  display: inline-block;
  width: 5rem;
  height: 2rem;
}

#legend-line {
  width: 60%;
  height: 100%;
  display: flex;
}

#legend-gradient {
  width: 100%;
  height: 60%;
  border: var(--solid-border);

  background-image: linear-gradient(
    90deg,
    var(--color0),
    var(--color0) 17%,
    var(--color1) 17%,
    var(--color1) 34%,
    var(--color2) 34%,
    var(--color2) 51%,

    var(--color3) 51%,
    var(--color3) 71%,
    var(--color4) 71%,
    var(--color4) 88%,
    var(--color5) 34%
  );
}
