body {
  padding: 50px 10px;
  margin: 0 auto;
  width: 100vw;
  min-height: calc(100vh - 100px);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 15px;
}

hr {
  width: 70%;
  height: 3px;
  background-color: black;
}
main {
  width: 70%;
  text-align: center;
  margin: auto;
}
section {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  text-align: center;
  margin: auto;
  padding: 25px 5px;
}

ul {
}
footer {
  width: 70%;
  text-align: center;
  margin: 12px auto;
}
