body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  background-color: #fff0f5;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

.profile-image {
  width: 130px;
  height: 130px;
  max-width: 100%;
  border: 2px solid lightgray;
  margin-bottom: 10px;
}

.full-name {
  color: rgb(83, 83, 83);
  font-size: 1.5rem;
}

.designation {
  color: rgb(110, 109, 109);
  font-size: 1.2rem;
}

.company {
  color: rgb(156, 156, 156);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-media a {
  color: rgb(119, 4, 10);
  padding: 10px;
}
