* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  max-width: 800px;
  gap: 10px;
}

.color-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  /* float: left;
  margin: 5px 50px; */
}

.color1 {
  background-color: #ff22aa;
}

.color2 {
  background-color: rgb(125, 255, 123);
}

.color3 {
  background-color: aqua;
}

.color4 {
  background-color: hsl(50, 100%, 50%);
}

.color5 {
  background-color: darkviolet;
}
