body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

#title {
  margin-bottom: 0;
  font-size: 4rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background-color: white;
  padding: 10px;
  margin: 0;
}

#img-caption {
  font-size: 1rem;
  margin: 15px 0 5px 0;
}

h2 {
  font-size: 1.3rem;
}

ul {
  text-align: left;
  max-width: 500px;
  margin: 0 auto 50px auto;
  line-height: 1.6;
  font-size: 1rem;
}

li {
  margin: 0 16px;
}

blockquote {
  text-align: left;
  max-width: 545px;
  margin: 0 auto 50px auto;
  font-style: italic;
}

cite {
  font-size: 1rem;
}

h3 {
  font-size: 1.5rem;
}
