* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #505052;
}

code {
  display: block;
  width: 90%;
  padding: 20px;
  background-color: #f7f7f7;
  border: 10px;

  margin: 10px 20px;
}

p {
  padding: 10px 20px;
}
#navbar {
  position: fixed;
  min-width: 290px;
  width: 300px;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 2px solid #505052;
}
@media only screen and (max-width: 640px) {
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    z-index: 1;
  }
}

#navbar ul {
  list-style: none;
  height: 88%;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 10px 30px;
  cursor: pointer;
  border-top: 1px solid black;
  font-size: 1.1rem;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

@media only screen and (max-width: 640px) {
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

#main-doc ul {
  margin-left: 50px;
}

#main-doc li {
  padding: 10px;
}

header {
  text-align: center;
  margin: 15px;
  font-size: 1.8rem;
  color: black;
}

#main-doc header {
  text-align: left;
  margin-left: -10px;
}
