* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 20px auto;
}
.container {
  display: block;
  max-width: 600px;
  height: 100%;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 1px 10px 15px 5px gray;
}
label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
/* input {
  display: block;
  margin: 10px 0px;
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
} */

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 5px;
} */

/* select {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border-radius: 5px;
} */

legend {
  text-align: left;
  margin-left: 5px;
}
.radio-group {
  /* display: block;

  margin: 30px 5px auto;
  text-align: left;
  padding: 0px 10px; */
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
}

button {
  background-color: #008000;
  color: white;

  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.radio-group input[type="radio"] {
  margin-right: 10px;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  width: 20px;
  height: 20px;
  transition: border-color 0.2s;
}

.radio-group label {
  cursor: pointer;
  margin: 0;
  font-weight: normal;
}

input[type="radio"]:checked + label {
  color: green;
}
.radio-group input[type="radio"]:checked {
  color: #008000;
  background-color: green;
  border-color: green;
  box-shadow: inset 0 0 0 4px white;
}

input:focus,
textarea:focus {
  border: 1px solid black;
}

input:valid,
select:valid,
textarea:valid {
  border: 1px solid green;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid red;
}

button:hover {
  background-color: black;
  color: white;
}

input:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 4px;
}
