:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-dark: #000;
  --main-gray: #303841;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  width: 100%;
  background-color: var(--main-red);
  z-index: 10;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-links {
  display: flex;
  /* margin: 2rem; */
}

a {
  text-decoration: none;
  color: var(--main-white);
  cursor: pointer;
}

#profile-link {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

#profile-link:hover {
  background-color: var(--main-blue);
}

ul {
  list-style: none;
}

h1 {
  font-size: 6rem;
}

#welcome-section p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: var(--main-dark);
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#project-section {
  width: 100vw;
  text-align: center;
  padding: 10rem 2rem;
  background-color: var(--main-blue);
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

.project-tile {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.grid-projects {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.project-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* центрує зображення та текст */
  text-align: center;
  background-color: var(--main-gray);
}

.grid-projects img {
  display: block;
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  padding: 2rem 2rem;
}

.project-title::before {
  content: "<";
  color: var(--main-gray);
  transition: 0.4s ease;
}

.project-title::after {
  content: "/>";
  color: var(--main-gray);
  transition: 0.4s ease;
}

.project-title:hover::before {
  color: orange;
}

.project-title:hover::after {
  color: orange;
}

.project-button {
  display: inline-block;
  background-color: var(--main-gray);
  padding: 10px 20px;
  margin-top: 3rem;
  transition: 0.5s ease;
}

.project-button::after {
  content: " >";
  transform: translateX(0px);
  transition: 0.3s ease;
}

.project-button:hover::after {
  margin-left: 5px;
}

.project-button:hover {
  background-color: var(--main-red);
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--main-gray);
}

.contact-header {
  width: 100%;
  text-align: center;
  padding: 10rem 2rem;
}

.contact-header h2 {
  font-size: 7rem;
}

.contact-header p {
  font-style: italic;
  font-weight: lighter;
}

.contact-links {
  display: flex;
  width: 100%;
  max-width: 950px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.contact-links a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-links a:hover {
  transform: translateY(8px);
}

footer {
  display: flex;
  border-top: 3px solid var(--main-red);
  background-color: var(--main-gray);
  font-weight: 100;
  padding: 2rem;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .grid-projects {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  #navbar {
    justify-content: center;
  }
}
